body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #055d0b;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px grey;
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#result-box {
  margin-top: 20px;
}

#result {
  color: white;
}

#category {
  color: white;
  font-weight: bold;
}
